<%= render DS::Dialog.new do |dialog| %>
  <% dialog.with_body do %>
    <div class="text-center space-y-4 py-6">
      <div class="flex justify-center">
        <%= icon 'loader-circle', class: 'animate-spin' %>
      </div>
      <p>Script wird ausgeführt...</p>
    </div>
  <% end %>
<% end %>
