<turbo-frame id="modal">
  <div class="p-6 text-center space-y-4">
    <div class="flex justify-center">
      <%= icon "loader-circle", class: "animate-spin" %>
    </div>
    <p>Script wird ausgeführt...</p>
  </div>
</turbo-frame>
