<%= render DS::Dialog.new do |dialog| %>
  <% dialog.with_body do %>
    <div class="text-center space-y-4 py-6">
      <div class="flex justify-center">
        <%= icon 'smartphone', size: '2xl', color: 'current' %>
      </div>
      <p>Bitte die pushTAN in deiner Banking-App bestätigen.</p>
    </div>
  <% end %>
  <% dialog.with_action(cancel_action: true, text: 'OK', variant: 'outline') %>
<% end %>
